{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-master">
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <a href="{% url 'product_info' product.id %}">
                        <img src="{{ product.image_url }}" class="card-img-top" alt="test alt">
                    </a>
                        <div class="card-body">
                        <h5 class="card-title"> {{ product.title }}</h5>
                        <h6 class="card-title"> {{ product.category }}</h6>
                        <p class="card-text">£{{ product.price }}</p>
                        <p class="card-text">{{ product.rate }}</p>
                        <p class="card-text">{{ product.count }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}